
@{
    //VISTA ADMINISTRACIÓN DE AUDITORIAS
    ViewBag.Title = "AuditoriasView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/jsgridcss")
<h2>Auditorias</h2>


@section Scripts {
    @Scripts.Render("~/bundles/tinglejs")
    @Scripts.Render("~/bundles/jsGrid")
    @Scripts.Render("~/bundles/admauditoriasjs")
    <script>

    </script>

}
