@{
    //Tener en cuenta que si se sierra esta vista automaticamente, se debe revizar el home.js, linea de autenticaci'on de usuario
    //VISTA DE ESTADO DE RIPS
    ViewBag.Title = "RIPS";
}
@Styles.Render("~/Content/datatablescss")
<div id="divtabEstado">

    <div class="row">

        <div class="col s12">
            <h2 class="center-align">LISTADO RIPS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <!--<a class="btn btn-floating btn-large pulse blue" href="#!" onclick="mostrarFormCargueRips()"><i class="material-icons">note_add</i></a>-->
            <blockquote>
                Este módulo te da una visión del estado de tus RIPS cargados.
            </blockquote>
        </div>
        <div class="col s12">
            <blockquote id="leyenda_estados"></blockquote>
        </div>
    </div>

        <div id="DIVestado" class="hide">

        </div>

        <div id="DIVlistado" class="row">

            <table id="listaRips" class="table" width="100%">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Tipo Usuario</th>
                        <th>Categoria</th>
                        <th>Periodo Inicio Reportado</th>
                        <th>Periodo Fin Reportado</th>
                        <th>Fecha de Carga</th>
                        <th>Estado Validacion Web</th>
                        <th>Estado Validacion Preradicación</th>
                        <th>Estado Servicion de Validación</th>
                        <th>Estado Radicacion</th>
                    </tr>
                </thead>
                <!--<tbody id="tbodylistarips"></tbody>-->
                <tfoot>
                    <tr>
                        <th>Codigo</th>
                        <th>Tipo Usuario</th>
                        <th>Categoria</th>
                        <th>Periodo Inicio Reportado</th>
                        <th>Periodo Fin Reportado</th>
                        <th>Fecha de Carga</th>
                        <th>Estado Validacion Web</th>
                        <th>Estado Validacion Preradicación</th>
                        <th>Estado Servicion de Validación</th>
                        <th>Estado Radicacion</th>
                    </tr>
                </tfoot>
            </table>

        </div>


        <div id="divclaims" style="display:none;">
        </div>

    </div>

<!--Modal pruebas-->
@section Scripts {
    @Scripts.Render("~/bundles/datatablesjs")
    @Scripts.Render("~/bundles/homeval")
    @Scripts.Render("~/bundles/listadoripsjs")
    <script>

    </script>

}